.ui-dialog-titlebar {
    background-color: #103346;
    color: white;
}

.app-container {
    border: 0;
    width: 100%;
    height: 100%;
}

.icon-image img {
    height: 70px;
    width: 70px;
}

.app-object {
    display: inline-block;
    color: white;
    text-shadow: 1px 1px #000000;
}

.app-window-iframe {
    padding: 0 !important;
}
